.captcha-container {
    width: fit-content;
}

.captcha-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.captcha-controls input {
    width: 140px;
}

.captcha-controls button {
    width: 80px;
    margin-left: 10px;
}
